*.egg-info
*.pyc
*.swo
*.swp
.cache
.coverage*
.DS_Store
.idea
.pid

/.tox
/binaries
/build
/angelo/GITSHA
/coverage-html
/dist
/docs/_site
/README.rst
/*venv*
webrtc\.log
/angelo/*venv*
supervisord\.log

\.vscode/settings\.json
data