texttable==0.9.1
docopt==0.6.2
six==1.10.0
jsonschema==2.6.0
requests==2.22.0
cached_property==1.5.1
setuptools==20.7.0
colorama==0.4.1
mock==3.0.5
PyInstaller==3.4
pytest==4.6.3
PyYAML==5.1.1
supervisor==4.0.3
paho-mqtt==1.4.0
schedule==0.6.0
websockets==8.0.2
gobject==0.1.0
PyGObject==3.32.2
imutils==0.5.3
gps==3.19
pathspec==0.8.0